<section class="todoapp">
  <header class="header">
    <h1>Items to buy</h1>
    <input class="new-todo" placeholder="Item description" autofocus="" 
    [(ngModel)]="newTodo.description" 
    (keyup.enter)="addItem()">
  </header>
  <section class="main" *ngIf="items.length > 0">
    <ul class="todo-list">
      <li *ngFor="let item of items" [class.completed]="item.done">
        <div class="view">
          <input class="toggle" type="checkbox" (click)="markAsDone(item)" [checked]="item.done">
          <label>{{item.description}}</label>
          <button class="delete" (click)="deleteItem(item)">Delete</button>
          <input class="edit-item" placeholder="edit text" ng-value="edited" [(ngModel)]="edited">
          <button class="edit-button" (click)="editItem(item, edited)">Edit</button>
        </div>
      </li>
    </ul>
  </section>
  <footer class="footer" *ngIf="items.length > 0">
    <span class="todo-count"><strong>{{not_done}}</strong> {{items.length == 1 ? 'item' : 'items'}} left</span>
  </footer>
</section>